# IGNORE FILES
/includes/configure.php
/manager/index.php
/manager/landing.php
/manager/includes/configure.php
/.gitignore/
/README.md/
/Template_Apparel_Top_07_06_16_18_01_33.csv
/coolpad_amazon_replacement06042016.pdf
/biobloomonline_coupon_code.xls




# IGNORE FOLDERS
/store_*/
/demo_*/
/customercenter/

